body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
    color: black;
    background-color: white;


}
input,textarea{
  border: none; 
}

input:focus ,textarea:focus{
  outline: none 
}

ul,
ol {
    list-style: none;
    margin:0; padding: 0; border:0;
}

:root {
    --blue-color: #2196F3;
    --darkcolor: #2F303A;
    --font: 'Roboto',
        sans-serif;
}
 a,
 a:hover,
 a:focus,
 a:active {
     text-decoration: none;
     color: inherit;
     font-weight: 500px;
 }



.center,
.center-column,
.top,
.right,
.bottom,
.left,
.space{
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-column{
    display: flex;
    align-items: flex-start;
}
.left-column,
.center-column{
    flex-direction: column;
}

.top {
    align-items: flex-start;
}

.right {
    justify-content: flex-end;
}

.bottom {
    align-items: flex-end;
}

.left-column,
.left {
    justify-content: flex-start;
}

.space{
    justify-content: space-around;
}


 h2 {
     text-align: center;
     line-height: 42.19px;
     letter-spacing: 3%;
     font-weight: 700;
     font-size: 36px;
 }


.container{
    max-width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: auto;
    margin-left: auto;
    /* background-color: red; */
}



 header{
    margin: 25px auto;
}


header ul{
        gap: 50px;   
}


header a:hover {
    color: var(--blue-color);
}
.logo:hover {
     color: purple ;
 }

header .nav-item{
    position: relative;
}


nav .nav-item a::after{
    display: none;
    content: "";
    height: 4px;
    background-color: #2196F3;
    position: absolute;
    top: 250%;
    left: 0%;
    border-radius: 2px;
    transition: width 0.5s ease;
}


nav .nav-item a[href^='#']::after{
    display: block;
    width: 100%;
}

nav .nav-item a:not([href^='#'])::after{
    display: block;
    width: 0%;
}

nav .nav-item a[href^='#']:hover::after{
    width: 0%;
}

nav .nav-item a:not([href^='#']):hover::after{
    width: 100%;
}





.logo {
    font-family: 'Raleway',
        sans-serif;
    color: var(--blue-color);
    font-size: 26px;
    font-weight: bolder;
    line-height: 31px;
    transition: all 0.5s;
}

.banner,
footer {
    background-color: var(--darkcolor);
}

a[href^='mailto'],
a[href^='tel'] {
    color: #757575;
}


footer {
    color: white;
    height: 252px;
}
footer .footer-container{
    padding-top: 60px;
    width: 1170px;
    gap: 86px;
    justify-content: flex-start;
    align-items: flex-start;

}



footer address,
.footer-icons div
{
    width: 231px;
    height: 95px;

}
.footer-suscription form{
    width: 570px;
    height: 85px;
}



.footer-suscription button[type='submit']{
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: white;
    text-align: center;
    position: relative;
}
.footer-suscription button[type='submit'] .svg-icon{
    fill: white;
    position: absolute;
    left: 80%;
    top: 20%;

}

.footer-suscription input{
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    color: white;
    padding: 15px 15px 15px 15px;
}

.footer-suscription form p{
    margin-top: 0px;
}

.footer-icons  h4{
    margin-top: 0px;
}


footer address ul{
    margin-top: 6px;
    gap:9px;
}


footer .footer-icons{
    width: 204px;
    height: 48px;
}
footer  .footer-icons ul{
    font-size: 12px;
    color:white
}


.footer-icons .fa-stack .fa.fa-circle-thin { color: var(--darkcolor); }
.footer-icons .fa-stack .fa.fa-circle { opacity:0.0; color:var(--blue-color); }
.footer-icons .fa-stack:hover .fa.fa-circle-thin { color:var(--blue-color); }
.footer-icons .fa-stack:hover .fa.fa-circle { opacity:1.0 }
.footer-icons .fa-brands:hover {color: white;}


.svg-icon{
  fill: #AFB1B8;
  width: 62px;
  height: 45px;
}