


.banner{
    background: white url('../images/webPage_images/banner.jpg') no-repeat fixed center/cover;
    color: white;
    font-weight: 900;
    font-size: 34px;
    letter-spacing: 6%;
    height: 600px;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 1;
}

.banner::before{
    position: absolute;
    content: "";
    background-color: rgba(0, 0, 0, 0.289);
    width: 100%;
    height: 100%;
    z-index: -1;
}

.banner div{
width: 696px;
}


.modal-container {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.189);
    backdrop-filter: blur(10px);
    z-index: 2;
    top:0;
    
}

.modal-container .modal-card{
    position: relative;
    top:2%;
    left: 1%;
    width: 528px;
    height: 581px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;

}

.modal-container .modal-card i{
    content: "";
    position: absolute;
    top: 2%;
    left: 95%;
    cursor: pointer;
    color: red;
}

.modal-hidden{
    display: none;
}



.card-image{
    width: 270px;
    height: 120px;
}

.container-svg{
border: 1px #AFB1B8 solid;
border-radius: 4px;
width: 170px; 
height: 81px; 
}

.svg-icon{
  fill: #AFB1B8;
  width: 62px;
  height: 45px;
}


.svg-icon:hover{
  fill: #03a9f4;
}

input[type="button"] {
    font-size: 20px;
    color: white;
    background-color: var(--blue-color);
    border-radius: 4px;
    width: 261px;
    height: 50px;
    border: solid 2px var(--blue-color);
    transition: all 1s;
    
}

input[type="button"]:hover {
    background-color: var(--darkcolor);
    color: var(--blue-color);
    cursor: pointer;
}


.details-container{   
    gap: 30px; 
    padding: 50px 200px;
    font-weight: 700;
    text-align: left;
    cursor: default;
}


.details-container b:hover {
    color: #757575;
}

p.description {
    color: #757575;
    font-weight: 400px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 3%;
}


.what_do_we_do{
    gap: 100px;
}

.what_do_we_do img{
    width: 376.16px;
    height: 323.7px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.548);
}
.what_do_we_do li{
    position: relative;
}
.what_do_we_do div{
    color: white;
    background-color: #2f303ad2;
    position: absolute;
    top: 80%;
    width: 100%;
    height: 20%;
    text-align: center;
    transition: height 0.5s  , top 0.5s;

}

.what_do_we_do div:hover{
  top: 0%;
  height: 100%;
}


.what_do_we_do li{
    transition: all 0.5s;
    object-fit: cover;
}

.what_do_we_do li:hover{
    transform: scale(1.1);
}



.our_team  figure{
    width: 270px;
    max-height: 428px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.548);
   position: relative;

}
.our_team ul{
    color: #AFB1B8;
    padding:0px; 
    padding-bottom: 5px; 
    margin-top: 10px; 
    gap: 20px;
}
.our_team figcaption{
    width: 100%;
    gap: 20px;
}
.our_team figure img{
    width: 270px;
    height: auto;
    transition: all 0.5s;
}

.our_team figure img:hover{
        border-radius: 50%;
        width: 80%;
        margin-top: 10%;
}
.our_team figure:hover{
    background-color: var(--darkcolor);
    color: white;
}
.our_team .fa-brands:hover{
    color: var(--blue-color);
}

.our_team figcaption > p{
color: #757575;
position: absolute;
}

.clientes ul{
    gap: 30px;
    cursor: pointer;
}

.clientes ul li:hover{
    border-color: var(--blue-color);
} 
