.portafolio{
    flex-wrap: wrap;
    gap: 30px;
}

main section>ul {
gap: 30px;
}


input[type="button"]{
    width: auto;
    height: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: .03em;
    text-align: center;
    border-radius: 4px;
    border: none;
    background-color: #F5F4FA;
    cursor: pointer;
    padding: 4px 10px;

}



input[type="button"]:hover{
    background-color: var(--blue-color);
    color: white;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.portafolio{
    width: 1170px;
    max-height: 1360px;
    place-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.portafolio figure {
    width: 370px;
    min-height: 404px;
    cursor: pointer;
    text-align: left;
    border: 1px solid #EEEEEE;    
    margin: 0 0;
}

.img{
    position: relative;
    overflow: hidden;
}

.portafolio .img_overlay{
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    background-color:#2195f3c8;
    color: white;
    text-align: center;
    transition: transform 250ms ease;
    transform: translateY(135%);
}

.portafolio .img_overlay p{
    margin: 20px ;
}

.portafolio .img:hover .img_overlay{
     transform: translateY(0);
}


.portafolio figure img{
        width: 370px;
        height: 294px;
        transition: all 1s;
        object-fit: cover;
    }

.portafolio figure img:hover{
    filter: grayscale(80%);
    }

.portafolio figcaption>p{
    color: #757575;
}


